{% extends 'base.html' %}
{% load static %}
{% block body %}

      <!-- header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding" style="background-color:#17a2b8 ;padding-bottom:50px;">
         <div class="container">
            <div class="row">
               <div class="col-sm-8">
                  <h2 class="about_taital">About The Daly Philanthropy</h2>
                  <p class="about_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugit eligendi aspernatur a ratione cumque expedita doloribus laudantium, eaque obcaecati labore maiores facilis. Neque doloremque quos expedita quam minus a dolore, ipsa autem non reiciendis nulla natus. Quidem harum voluptatem consequuntur perspiciatis dolores fugiat voluptas corporis, iusto voluptatum necessitatibus, repudiandae enim et minima! Dicta quam cupiditate dolorem non repellendus tempore commodi voluptate quos eaque laudantium quo aperiam impedit ad, facilis sapiente, dignissimos quod vitae? Neque, saepe voluptates facilis accusantium ratione aliquam. Sapiente aperiam eum qui nobis, eos tempore consectetur reprehenderit iste aliquid commodi est recusandae voluptate molestiae debitis ab maiores.
                  </p>
                  <div class="readmore_bt"><a href="#">Read more</a></div>
               </div>
               <div class="col-sm-4">
                  <div class="about_img"><img src="{% static 'info/images/about-img.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}