{%extends 'base.html'%}
{% load static %}

{%block body%}


      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding" style='height:413px;'>
         <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">Helping Poor Child</h1>
                           <p class="banner_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque odit cumque molestias facere ullam nulla ex aspernatur qui inventore iste. </p>
                           <div class="read_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Helping Poor Child</h1>
                        <p class="banner_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis labore nisi impedit perspiciatis doloremque delectus eos omnis debitis consequatur similique!</p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Helping Poor Child</h1>
                        <p class="banner_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium inventore ad deserunt amet rerum repellendus, exercitationem blanditiis excepturi nam nulla, nemo iure et tenetur. Hic nemo consectetur necessitatibus labore dignissimos? </p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Help Poor Child</h1>
                        <p class="banner_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, tempore.</p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Help Poor Child</h1>
                        <p class="banner_text">Suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going </p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   
         
      </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding" style="background-color:#17a2b8 ;">
         <div class="container">
            <div class="row">
               <div class="col-sm-8">
                  <h2 class="about_taital" id="about">About The Daly Philanthropy</h2>
                  <p style="text-align:justify;" class="about_text">The Daly Philanthropy is a social service project aimed at providing education to underprivileged students in science, mathematics, computer science, and arts. Our project aims to bridge the educational gap that exists in our society by offering quality education and practical skills to children who are unable to afford it.

                     We believe that every child has the right to education, regardless of their financial background. Through our project, we aim to empower students by providing them with the necessary tools and resources to achieve their academic goals and succeed in their personal and professional lives.
                     
                     We have been inviting groups of roughly 20 students to our school, The Daly College and giving them the chance to witness the wide variety of opportunities the school offers. Our team of dedicated and experienced volunteers work tirelessly to create a safe and nurturing environment for our students to learn and grow. We understand that education goes beyond textbooks, which is why we also offer co-curricular activities like drawing and theatre. 
                     
                     We believe in the power of education to transform lives and communities. By investing in the education of underprivileged students, we hope to create a more equitable and just society where everyone has the opportunity to succeed. We welcome your support in our efforts to make a positive difference in the lives of these students.
                     
                     
                     
                     
                     </p>
                  <div class="readmore_bt"><a href="#">Read more</a></div>
               </div>
               <div class="col-sm-4">
                  <div class="about_img"><img src="{% static 'info/images/about-img.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- mission section start -->
      <div class="mission_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="mission_taital">Our aim</h1>
                  <p class="mission_text">Our social service project promotes in-school education by inviting groups of 20 students to our school, The Daly College. We teach reading, writing, speaking, maths, science, and co-curricular activities like theatre to enhance their learning experience. Join us in making a difference in education today.</p>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'info/images/img-1.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">Info</h4>
                           <p class="alteration_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, aspernatur nam. Labore eos, dolor ipsum praesentium commodi quod adipisci laborum?</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'info/images/img-2.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">Info</h4>
                           <p class="alteration_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit laudantium neque voluptate ullam ab voluptates nostrum quos voluptatibus, quisquam cupiditate.</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'info/images/img-3.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'info/images/img-4.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="offset-md-2"></div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'info/images/img-5.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'info/images/img-6.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- mission section end -->
      <!-- news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="news_taital">FEATURED CAUSE</h1>
                  <p class="news_text">going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
               </div>
            </div>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_img"><img src="{% static 'info/images/news-img.png' %}"></div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="give_taital">PROVIDING EDUCATION</h1>
                     <p class="ipsum_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id saepe esse architecto ipsam eveniet obcaecati dicta qui tempora quam. Eaque quis similique rem ullam temporibus quibusdam optio et fugiat ex cupiditate! Suscipit ab ullam at tempore repellat ratione accusamus voluptatibus perspiciatis labore. Fuga architecto aspernatur quos veritatis enim, dolore facilis corporis unde consequatur nesciunt laborum dolores nobis possimus aliquam officia mollitia, molestias error numquam, porro voluptate aperiam. Eius temporibus maiores quam, eveniet harum doloribus ad distinctio quisquam necessitatibus veniam, quidem nostrum, omnis suscipit quasi maxime quos esse exercitationem iste minus fugit? Aliquid ex in explicabo deleniti at ab eum asperiores?
                     </p>
                     
                     <div class="donate_btn_main">

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
      <!-- events section start -->
      <div class="events_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">

               </div>
            </div>
            <div class="events_section_2">
               <div class="row">
                  <div class="col-md-5">
                     <div class="img_7"><img src="{% static 'info/images/img-7.png' %}" style= "top: -43px;" class="img_7"></div>
                     <div class="date_bt">

                     </div>
                  </div>
                  <div class="col-md-7">
                     <h1 class="give_taital_1">INTERACTING</h1>
                     <p class="ipsum_text_1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatum iste sint, ea totam repellat nam vitae doloremque labore culpa doloribus eius harum fuga tempora inventore autem obcaecati magni amet? Harum, adipisci. Sed fugiat voluptate consequatur atque reiciendis officia doloribus.</p>

                     </div>
                  </div>
               </div>
            </div>
            <div class="events_section_2">
               <div class="row">
                  <div class="col-md-5">
                     <div class="img_7"><img src="{% static 'info/images/img-8.png' %}" style="left: 20px;
                        padding-right: 20px;"
                    class="img_7"></div>
                     <div class="date_bt">

                     </div>
                  </div>
                  <div class="col-md-7">
                     <h1 class="give_taital_1">LEARNING</h1>
                     <p class="ipsum_text_1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem facilis dicta necessitatibus culpa sed ratione assumenda ea at voluptates?</p>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
 {%endblock%}


