{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="mission_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="mission_taital">Our aim</h1>
            <p class="mission_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut iusto laboriosam doloribus, possimus nisi adipisci iure ipsam, doloremque exercitationem ullam blanditiis magnam, praesentium minima porro maiores eius quam.</p>
         </div>
      </div>
   </div>
   <div class="mission_section_2">
      <div class="row">
         <div class="offset-md-2"></div>
         <div class="col-md-5">
            <div class="container_main">
               <img src="{% static 'info/images/img-1.png' %}" alt="Avatar" class="image">
               <div class="overlay">
                  <div class="text">
                     <h4 class="some_text">Info</h4>
                     <p class="alteration_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, aspernatur nam. Labore eos, dolor ipsum praesentium commodi quod adipisci laborum?</p>
                     <div class="btn_main">
                        <div class="donate_bt"><a href="#">Read More</a></div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-5">
            <div class="container_main">
               <img src="{% static 'info/images/img-2.png' %}" alt="Avatar" class="image">
               <div class="overlay">
                  <div class="text">
                     <h4 class="some_text">Info</h4>
                     <p class="alteration_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit laudantium neque voluptate ullam ab voluptates nostrum quos voluptatibus, quisquam cupiditate.</p>
                     <div class="btn_main">
                        <div class="donate_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="mission_section_2">
      <div class="row">
         <div class="col-md-5">
            <div class="container_main">
               <img src="{% static 'info/images/img-3.png' %}" alt="Avatar" class="image">
               <div class="overlay">
                  <div class="text">
                     <h4 class="some_text">whichalteration in some </h4>
                     <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                     <div class="btn_main">
                        <div class="donate_bt"><a href="#">Read More</a></div>
                        <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-5">
            <div class="container_main">
               <img src="{% static 'info/images/img-4.png' %}" alt="Avatar" class="image">
               <div class="overlay">
                  <div class="text">
                     <h4 class="some_text">whichalteration in some </h4>
                     <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                     <div class="btn_main">
                        <div class="donate_bt"><a href="#">Read More</a></div>
                        <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-md-2"></div>
      </div>
   </div>
   <div class="mission_section_2">
      <div class="row">
         <div class="offset-md-2"></div>
         <div class="col-md-5">
            <div class="container_main">
               <img src="{% static 'info/images/img-5.png' %}" alt="Avatar" class="image">
               <div class="overlay">
                  <div class="text">
                     <h4 class="some_text">whichalteration in some </h4>
                     <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                     <div class="btn_main">
                        <div class="donate_bt"><a href="#">Read More</a></div>
                        <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-5">
            <div class="container_main">
               <img src="{% static 'info/images/img-6.png' %}" alt="Avatar" class="image">
               <div class="overlay">
                  <div class="text">
                     <h4 class="some_text">whichalteration in some </h4>
                     <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                     <div class="btn_main">
                        <div class="donate_bt"><a href="#">Read More</a></div>
                        <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
      {% endblock %}